/* 覆盖antd按钮 disabled 样式*/
.ant-btn[disabled] {
  color: var(-btn-disabled-bg) !important;  /* 改变 disabled 按钮文字颜色 */
  border-color: var(--btn-disabled-text) !important; /* 改变 disabled 按钮边框颜色 */
  background-color: var(--btn-disabled-border) !important; /* 改变 disabled 按钮背景颜色 */
  opacity: 1 !important; /* 调整透明度 */
}
