.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
}

.copyright {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  color: #747d8c;
}
